* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom, #87CEFA, #191970);
}

.title {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 20px;
    width: 100vw;
    height: 15vh;
    color: #000;
}

.container-piano {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 85vh;
}

.container {
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 900px;
    height: 350px;
    background-color: #fff;
    border: solid 2px #000;
    border-top: solid 5px red;
}

li {
    list-style: none;
}

.w-key {
    display: flex;
    justify-content: center;
    width: 90px;
    height: 100%;
    align-items: flex-end;
    padding: 10px;
    font-size: 35px;
    border-right: solid .5px;
    border-left: solid .5px;  
}

.b-key {
    background: #000;
    display: flex;
    justify-content: center;
    position: absolute;
    width: 45px;
    height: 64%;
}

.in-key {
    position: absolute;
    width: 30px;
    height: 195px;
    border-bottom: solid .5px #fff;
    border-right: solid .5px #fff;
    border-left: solid .5px #fff;
    border-radius: 5px;
    background: linear-gradient(to top, #000, #808080);
}

.black-C {
    top: 0px;
    left: 71px;
}

.black-D {
    top: 0px;
    left: 160px;
}

.black-F {
    top: 0px;
    left: 340px;
}

.black-G {
    top: 0px;
    left: 430px;
}

.black-A {
    top: 0px;
    left: 520px;
}

.black-C2 {
    top: 0px;
    left: 700px;
}

.black-D2 {
    top: 0px;
    left: 790px;
}

.w-key:active {
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
                rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
                rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, 
                rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 
                0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 
                0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.in-key:active {
    background: linear-gradient(to bottom, #000, #808080);
}